.app-container {
  padding: 1rem;
  border: 1mm;
  background-color: #191e2b;
  display: grid;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: #000000, 1cm;
  align-content: center;
  font-size: larger;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.padding-better {
  padding-bottom: 12px;
}

th,
td {
  border: 1.5px solid #09051d;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: #090a0d;
  color: aliceblue;
  font-size: 45px;
}

tr {
  text-align: center;
}

td {
  background-color: rgb(23, 41, 53);
  flex-direction: column;
  color: rgb(26, 230, 19);
}

form {
  display: flex;
  gap: 5px;
  height: auto;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.form-style {
  height: 50px;
  padding-top: 5px;
}

.title {
  color: rgb(26, 230, 19);
  display: flex;
  text-align: center;
}

.button {
  color: #090a0d;
}
