.background-color {
  background-color: #191e2b;
  color: rgb(255, 255, 255);
  text-align: center;
}

.align-items {
  align-items: center;
  justify-content: center;
  display: grid;
  padding-top: 10px;
}

.title {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}
