.background-color {
  background-color: yh#191e2b;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 100%;
  padding-bottom: 15px;
}

.align-items {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.title {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.header-padding {
  padding-top: 50px;
  display: grid;
}

.container-better {
  height: "100%";
  display: flexbox;
  width: 750px;
  padding-top: 35px;
  padding-bottom: 20px;
}
