.background-color {
  background-color: #191e2b;
  color: rgb(255, 255, 255);
  text-align: center;
}

.align-items {
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.title {
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.header-padding {
  padding-top: 25px;
}

.container {
  height: "100%";
  display: flex;
  width: 250px;
  padding-bottom: 75px;
  padding-top: 25px;
}
