@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 45px;
  text-align: center;
}

.home {
  flex-wrap: grid;
  padding-top: 16 px;
  padding-right: 0px;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  background-color: rgb(54, 50, 75);
}

.app {
  background-color: aqua;
}

.home-title {
  text-align: left;
}

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-two {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 150px;
  font-size: 150%;
}

.blue-column {
  background-color: rgb(255, 255, 255);
  height: flex;
  padding-left: 30px;
}

.green-column {
  height: 180px;
  color: rgb(3, 3, 3);
  text-align: center;
  padding-top: 10px;
}

.padding-left {
  padding-left: 30px;
  padding-right: 30px;
}

.home-below {
  display: grid;
  padding-top: 16 px;
  padding-right: 100px;
  height: fit-content;
  align-items: right;
  justify-content: right;
  font-size: 3rem;
  background-color: rgb(0, 0, 0);
}

.home-submit {
  display: grid;
  padding-top: 16 px;
  padding-right: 75px;
  height: fit-content;
  align-items: right;
  justify-content: right;
  font-size: 3rem;
  background-color: rgb(189, 37, 37);
}

.align-form {
  text-align: left;
  font-size: 16px;
  margin-top: auto;
  vertical-align: top;
  display: flex;
}

.side-menu-footer {
  width: 100%;
  background: rgb(26, 11, 11);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.side-menu-footer .title {
  padding-bottom: 16px;
  text-align: center;
  color: rgb(230, 220, 220);
}

.side-menu-footer .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}
.side-menu-footer .avatar img {
  max-width: 100%;
}

.side-menu-footer .user-info {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info {
  opacity: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu-footer .user-info h5 {
  font-size: 15px;
}

.side-menu-footer .user-info p {
  font-size: 14px;
}
